body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../resources/background.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.content {
    position: relative;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    background-color: rgba(59, 63, 70, 0.4);
    color: white;
    width: fit-content;
    padding: 0px 20px 20px 20px;
    border-radius: 10px;
    overflow: hidden;
}

.instruction_title {
    font-family: 'Press Start 2P', system-ui;
    font-size: 3em;
}

.sub_instructions_titles {
    font-family: 'Press Start 2P', system-ui;
    font-size: 2em;
}

.information_of_para {
    font-family: 'FreeLine' , sans-serif;
    font-size: 1em;
    font-weight: bold;
}

li {
    font-family: 'FreeLine' , sans-serif;
    font-size: 1em;
    font-weight: bold;
}

button {
    font-size: 3em;
    color: black;
    background-color: rgb(199, 233, 147);
    border-color: black;
    border-style:groove;
    border-radius: 10px;
    padding: 10px 20px;
    border: 2px solid;
}

button:hover {
    margin-top: -5px;
    border-width: 5px;   
}
